@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --bg-gradient: radial-gradient(50% 66.67% at 50% 33.33, blue, red);
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --bg-gradient: radial-gradient(50% 66.67% at 50% 33.33, blue, red);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.current-icon-page svg path {
  stroke: #3b82f6;
  fill: #3b82f6;
}

@keyframes fillProgressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
