@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #ddd;
  --background-end: #fff;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start: #222;
  --background-end: #000;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
      circle closest-corner at center,
      var(--background-start),
      var(--background-end) 40%
    )
    no-repeat;
}

.current-icon-page svg path {
  stroke: #3b82f6;
  fill: #3b82f6;
}

@keyframes fillProgressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
